---
const {title} = Astro.props;
const {block} = Astro.props;

import '../styles/Projects.css';
import { getAllProjects } from '../lib/api';

const parsedJSON = JSON.parse(block.attributesJSON);

// import Swiper bundle with all modules installed
import Swiper from 'swiper/bundle';

// import styles bundle
import 'swiper/css/bundle';


const projects = await getAllProjects();

---


<div class="mx-auto py-16 px-2 sm:px-6 lg:px-6 ">
    
    <p class="text-4xl sm:text-6xl lg:text-7xl avax-f text-avaxpink">What we build...</p>
    <div class="relative block">
        <div class="swiper relative">

            <!-- Additional required wrapper -->
            <div class="swiper-wrapper relative">
            <!-- Slides -->

            {projects.map((project) => 
               

                <div class="swiper-slide avax-projects rounded-2xl border-dashed border-avaxdark border p-2">
                    <div class="avax-projects-inner relative" style={`background-image: url(${project.projectsacf.projectimage.sourceUrl})`}> 
                        <video autoplay playsinline muted loop src="/projectsbg.mov" class="fullscreen">
                        </video>
                        <div class="absolute top-0 p-8 text-slate-100 text-white h-full block avax-project-description">
                            <div class="h-full relative">
                                <h3 class="text-slate-100 text-avaxpink text-2xl font-bold mb-4">{project.title}</h3>
                                <p class="text-white text-greylight">{project.projectsacf.excerpt}</p>                        
                                <div class="avax-project-services absolute bottom-0">
                                    <div>
                                        <a class="bg-avaxbg text-avaxdark text-xs uppercase rounded-2xl border-dashed border-avaxdark border text-center my-1 mr-1 inline-block" href="https://www.kaerntnermilch.at/" target="_blank">Kunde: {project.projectsacf.customer}</a>
                                    </div>
                                    <div>
                                        <a class="bg-avaxbg text-avaxdark text-xs uppercase rounded-2xl border-dashed border-avaxdark border text-center my-1 mr-1 inline-block">Webdevelopement</a>
                                        <a class="bg-avaxbg text-avaxdark text-xs uppercase rounded-2xl border-dashed border-avaxdark border text-center my-1 mr-1 inline-block ">Webdesign</a>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <div class="absolute bottom-0 text-slate-100 text-white opacity-0 avax-project-description-small w-full">
                            <div class="h-full relative px-8 py-8 flex justify-between flex-row-reverse">
                                <h3 class="text-slate-100 text-avaxpink text-2xl font-bold mb-4">{project.title}</h3>
                        
                                <div class="avax-project-services">
                                    <div>
                                        <a class="bg-avaxbg text-avaxdark text-xs uppercase rounded-2xl border-dashed border-avaxdark border text-center my-1 mr-1 inline-block" href="https://www.kaerntnermilch.at/" target="_blank">Kunde: {project.projectsacf.customer}</a>
                                    </div>
                                    <div>
                                        <a class="bg-avaxbg text-avaxdark text-xs uppercase rounded-2xl border-dashed border-avaxdark border text-center my-1 mr-1 inline-block">Webdevelopement</a>
                                        <a class="bg-avaxbg text-avaxdark text-xs uppercase rounded-2xl border-dashed border-avaxdark border text-center my-1 mr-1 inline-block ">Webdesign</a>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>

            )}

            
            
            </div>
        
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        
        
        </div>
    </div>
</div>



<script>




document.addEventListener("DOMContentLoaded", () => {
    const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        slidesPerView: 1,
        spaceBetween: 20,

        breakpoints: {
        
            // when window width is >= 640px
            768: {
                slidesPerView: 2,
                spaceBetween: 30
            },
            1280: {
                slidesPerView: 3,
                spaceBetween: 30
            }
        }
    });
});
</script>